@model IEnumerable<mls.Models.DownReport>

@{
    ViewBag.Title = "Down Report";
}

<h2>Stock Out Report</h2>

<p>
    @Html.ActionLink("Go Back", "Index", "WorkOrders", null, null) | @Html.ActionLink("Create New", "Create")
</p>

<br />

<h4><u>Newly Reported</u></h4>
@Html.Action("_NewDownPartialView", "DownReports")
<br />
<br />
<h4><u>In Review</u></h4>
@Html.Action("_ResponseDownPartialView", "DownReports")
<br />
<br />
<h4><u>Solution In Process</u></h4>
@Html.Action("_InProcessDownPartialView", "DownReports")
<br />
<br />
<h4><u>Closed</u></h4>
@Html.Action("_ClosedDownPartialView", "DownReports")
<br />
<br />

