@model mls.Models.IncomingLog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IncomingLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomingStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomingStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomingRemovalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomingRemovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
