
@{
    ViewBag.Title = "LishenCustomer";
}

<h2>LishenCustomer</h2>

<br />

<p>
    @Html.ActionLink("Go Back", "PoHome") | @Html.ActionLink("Create New", "Create")
</p>

<br />

<h4><u>New Orders</u></h4>
@Html.Action("_NewOrder", "PurchaseOrders", new { Customer = 24, Division = 7, MlsDivision = 1 })
<br />
<br />
<h4><u>Past Due</u></h4>
@Html.Action("_PastDueOrder", "PurchaseOrders", new { Customer = 24, Division = 7, MlsDivision = 1 })
<br />
<br />
<h4><u>Hot Order</u></h4>
@Html.Action("_HotOrder", "PurchaseOrders", new { Customer = 24, Division = 7, MlsDivision = 1 })
<br />
<br />
<h4><u>Open Orders</u></h4>
@Html.Action("_OpenOrder", "PurchaseOrders", new { Customer = 24, Division = 7, MlsDivision = 1 })
<br />
<br />
<h4><u>Closed Orders</u></h4>
@Html.Action("_ClosedOrder", "PurchaseOrders", new { Customer = 24, Division = 7, MlsDivision = 1 })
