
@{
    ViewBag.Title = "PoHome";
}

<h2>MLS Purchase Order Home</h2>

<br />

<p>
    @Html.ActionLink("Go Back", "Index", "Pfeps", null, null) | @Html.ActionLink("Create New", "Create")
</p>

<br />

<p>
    <h4><u>PO Reports by Customer</u></h4>
    <br />
    <br />
    @Html.ActionLink("All POs", "Index", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Heil POs", "HeilPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("VSG POs", "VsgPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Marathon POs", "MarathonPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Bayne POs", "BaynePos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("PC POs", "PcPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("WB Hyd POs", "WbHydPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("WB Fab POs", "WbDipPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Hunter POs", "HunterPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("THI POs", "ThiPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("JBT Orlando", "JbtOrlando", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("JBT Ogden", "JbtOgden", "PurchaseOrders", null, null)
    <br />
    <br />


    <h4><u>POs by Supplier</u></h4>
    <br />
    @Html.ActionLink("Hualin POs", "HualinOrders", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Lishen POs", "LishenOrders", "PurchaseOrders", null, null)
    <br />
    <br />

    <h4><u>POs by Company</u></h4>
    <br />
    @Html.ActionLink("DIP POs", "DipPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("DTT POs", "DttPos", "PurchaseOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("CL POs", "ClPos", "PurchaseOrders", null, null)
    <br />
    <br />


</p>