@model mls.Models.DecreeLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DecreeLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DecreeDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreeDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DecreeLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
