@model List<mls.ViewModels.VtQohViewModel>

@{
    ViewBag.Title = "VadTek Qoh";
}

<h2>VadTek Qoh</h2>

<p>
    @Html.ActionLink("Go Back", "Home", "TxQoh1s", null, null) | @Html.ActionLink("Create New", "Create")
</p>
<table id="master" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                PN
            </th>
            <th>
                QOH
            </th>
            <th>
                Location
            </th>
            <th>
                Notes
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Vtqohid })|
                    @Html.ActionLink("Details", "Details", new { id = item.Vtqohid })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Vtqohid })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qoh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
                $(document).ready(function() {
                    $("#master").DataTable({
                      'iDisplayLength': 100 });
                    });
    </script>

}