@model IEnumerable<mls.Models.CheckRequestF>

@{
    ViewBag.Title = "Index";
}

<h2>Check Request</h2>

<p>
    @Html.ActionLink("Go Back", "Index", "Pfeps", null, null) | @Html.ActionLink("Tiered View", "Tiered") | @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Closed/Cashed", "Closed") | @Html.ActionLink("Closed/Denied", "Denied")
</p>
<table id="check" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.MlsCo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualMailDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CheckRequestFId })|
                    @Html.ActionLink("Details", "Details", new { id = item.CheckRequestFId })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.CheckRequestFId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MlsCo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualMailDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#check").DataTable({
                'iDisplayLength': 100 });
            });

    </script>
}