@model IEnumerable<mls.Models.TxQoh>

@{
    ViewBag.Title = "TxQoh";
}

<h2>TxQoh</h2>

<p>
    @Html.ActionLink("Go Back", "Index", "WorkOrders", null, null) | @Html.ActionLink("Create New", "Create")
</p>
<br />
<table id="txqoh" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Pn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UhPn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qoh)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Txqohid })|
                    @Html.ActionLink("Details", "Details", new { id = item.Txqohid })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Txqohid })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UhPn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qoh)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#txqoh").DataTable({
              'iDisplayLength': 100 });
            });

    </script>
}