
@{
    ViewBag.Title = "EsgStatus";
}

<h2>Jbt Status</h2>

<p>
    @Html.ActionLink("Go Back", "Sales", "ShipPlanFs", null, null) | @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Slot Schedule", "JbtSlotted") | @Html.ActionLink("Jbt Open", "JbtOpen") | @Html.ActionLink("Shipped Orders", "JbtShipped") | @Html.ActionLink("Canceled Orders", "JbtCanceled")
</p>

<br />

<br />

<h4><u>SO Issues Needing Review</u></h4>
@Html.Action("_PcOrderIssuesCustomer", "ShipPlanFs", new { status = 2, customer = 19, division = 11 })
<br />
<br />
<h4><u>SO To Cancel</u></h4>
@Html.Action("_PcOrderIssuesCustomer", "ShipPlanFs", new { status = 8, customer = 19, division = 11 })
<br />
<br />
<h4><u>HOT Orders</u></h4>
@Html.Action("_ShipPcHotCustomer", "ShipPlanFs", new { Customer = 19, division = 11 })