@model mls.Models.TxQoh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TxQoh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UhPn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UhPn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qoh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qoh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NcrQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NcrQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Txqohid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
