@model List<mls.ViewModels.QohViewModel>

@{
    ViewBag.Title = "TxQoh";
}

<h2>Tx Qoh All</h2>

<p>
    @Html.ActionLink("Go Back", "Home", "TxQohs1", null, null) | @Html.ActionLink("Create New", "Create")
</p>
<br />
<table id="txqoh" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                PN
            </th>
            <th>
                CQoh
            </th>
            <th></th>
            <th>
                OQoh
            </th>
            <th>
                Rec
            </th>
            <th>
                Ship
            </th>
            <th>
                Wo
            </th>
            <th>
                Cc
            </th>
            <th>
                Nc
            </th>
            <th>
                Location
            </th>
            <th>
                Notes
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })|
                    @Html.ActionLink("Details", "Details", new { id = item.Id })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qoh)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.May11Qoh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May11Rec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May11Ship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May11Wo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May11Cc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.May11Nc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#txqoh").DataTable({
              'iDisplayLength': 100 });
            });

    </script>
}
