
@{
    ViewBag.Title = "Bayne";

}

<h2><b>Bayne</b></h2>

<p>
    @Html.ActionLink("Go Back", "Index") | @Html.ActionLink("Create New SO", "Create") | @Html.ActionLink("Create New WO", "Create", "WorkOrders", null, null)
</p>

<br />

<h4><u>New Orders</u></h4>
@Html.Action("_NewOrder", "CustomerOrders", new { Customer = 1, Division = 4, MlsDivision = 1 })
<br />
<br />
<h4><u>Order in Review</u></h4>
@Html.Action("_Review", "CustomerOrders", new { Customer = 1, Division = 4, MlsDivision = 1 })
<br />
<br />
<h4><u>Stock Out</u></h4>
@Html.Action("_StockOut", "CustomerOrders", new { Customer = 1, Division = 4, MlsDivision = 1 })
<br />
<br />
<h4><u>Production</u></h4>
@Html.Action("_Production", "CustomerOrders", new { Customer = 1, Division = 4, MlsDivision = 1 })
<br />
<br />
<h4><u>In Transit</u></h4>
@Html.Action("_Ocean", "CustomerOrders", new { Customer = 1, Division = 4, MlsDivision = 1 })
<br />
<br />
<h4><u>Texas</u></h4>
@Html.Action("_Tx", "CustomerOrders", new { Customer = 1, Division = 4, MlsDivision = 1 })
<br />
<br />
<h4><u>Shipped</u></h4>
@Html.Action("_Closed", "CustomerOrders", new { Customer = 1, Division = 4, MlsDivision = 1 })

