@{
    ViewBag.Title = "HeilHome";
}

<h2>Heil Home</h2>
<br />
<p>
    <h4><u>Heil Reports</u></h4>
    <br />

    @Html.ActionLink("Heil Open Orders", "RoHeil1", "CustomerOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Forecast", "Heil", "Demands", null, null)
    <br />
    <br />
    @Html.ActionLink("Qoh TX", "HeilQoh", "CustomerOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("In Transit", "HeilTransit", "ShipIns", null, null)
    <br />
    <br />
    @Html.ActionLink("Receipt History", "HeilReceipt", "ShipIns", null, null)
    <br />
    <br />
    @Html.ActionLink("Ship Out History", "HeilShipOut", "ShipOuts", null, null)
    <br />
    <br />


    @*@Html.ActionLink("WB PFEP", "PfepWb", "Pfeps", null, null)
        <br />
        <br />
        @*-> @Html.ActionLink("Ship Out History", "Index", "ShipOuts", null, null)
            <br />
            <br />
            -> @Html.ActionLink("PFEP Cylinders", "Ops")
            <br />
            <br />
    *@

</p>