
@{
    ViewBag.Title = "HydSales";
}

<h2>Hyd Sales</h2>

<p>
    @Html.ActionLink("Go Back", "Sales")
</p>
<br />
<p>

    <h4><u>Hyd Orders by Customer</u></h4>
    <br />
    @Html.ActionLink("Hyd Open Orders", "HydSalesAllAlt")
    <br />
    <br />
    @Html.ActionLink("Columbus Hyd", "ColumbusAlt")
    <br />
    <br />
    @Html.ActionLink("Heil", "HeilAlt")
    <br />
    <br />
    @Html.ActionLink("Hunter", "HunterAlt")
    <br />
    <br />
    @Html.ActionLink("Marathon", "MarathonAlt")
    <br />
    <br />
    @Html.ActionLink("NOV Hyd", "NovHydAlt")
    <br />
    <br />
    @Html.ActionLink("Parts Central", "PcAlt")
    <br />
    <br />
    @Html.ActionLink("Simonson", "SimonsonAlt")
    <br />
    <br />
    @Html.ActionLink("THI", "ThiAlt")
    <br />
    <br />
    @Html.ActionLink("Wastebuilt Hyd", "WB1")
    <br />
    <br />

