@using mls.Controllers
@model IEnumerable<mls.Models.CustomerOrder>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<br />
<br />
<p>

    <h4><u>Company News</u></h4>
    <br />
    <h6>
    - ISO Audit is scheduled for March 21 and 22 <br />
    - Chinese New Year is over February 11th <br />
    - Joey won January's 5S excellence award and will receive a $50 gift card to Buca di Beppo. <br />
    - <br />
    - <br />
    </h6>
    <br />

    <h4><u>Departments</u></h4>
    <br />

    @Html.ActionLink("Metrics / Performance", "Index", "Scrums", null, null)
    <br />
    <br />
    @Html.ActionLink("Engineering", "EngHome", "BomLevel1", null, null)
    <br />
    <br />
    @Html.ActionLink("HR", "HRHome", "Employees", null, null)
    <br />
    <br />
    @Html.ActionLink("IT - Coming Soon", "HRHome", "Employees", null, null)
    <br />
    <br />
    @Html.ActionLink("Logistics", "Index", "ShipIns", null, null)
    <br />
    <br />
    @Html.ActionLink("Operations", "Index", "WorkOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Quality", "QualityHome", "NCRs", null, null)
    <br />
    <br />
    @Html.ActionLink("Sales", "Sales")
    <br />
    <br />
    @Html.ActionLink("Supply Chain", "Index", "Pfeps", null, null)
    <br />
    <br />
    <h6>*QOH last updated 1/31/2019</h6>
</p>

@*
    <script>
        $(document).ready(function() {
            $("#customerorder .js-delete").on("click",function() {
                confirm("Are you sure you want to delete this order?")
            });
        });
    </script>
*@