
@{
    ViewBag.Title = "Sales";
}

<h2>USA Sales</h2>
<p>
    @Html.ActionLink("Go Back", "Index")
</p>
<br />
<p>

    <h4><u>Customer Orders</u></h4>
    <br/>
    @Html.ActionLink("Open Orders - All", "SalesAllAlt")
    <br />
    <br />
    @Html.ActionLink("Open Orders - Hyd", "HydSales")
    <br />
    <br />
    @Html.ActionLink("Open Orders - Dip", "DipSales")
    <br />
    <br />
    @Html.ActionLink("Open Orders - Dtt", "DttSales")
    <br />
    <br />
    @Html.ActionLink("Open Orders - Dop", "DopSales")
    <br />
    <br />
    @Html.ActionLink("Open Orders - Chassisliner", "ClAlt")
    <br />
    <br />
    @Html.ActionLink("Old Sales Portals", "OldSales")
    <br />
    <br />

    <h4><u>Customer Feedback</u></h4>
    <br />
    @Html.ActionLink("Complaint Log", "Index", "CustomerComplaints", null, null)
    <br />
    <br />

    <h4><u>Pricing</u></h4>
    <br/>
    @Html.ActionLink("Customer Quotes", "Index", "CustomerQuotes", null, null)
    <br />
    <br /> 
    
    <h4><u>Input Data</u></h4>
    <br />
    @Html.ActionLink("Create New Order", "Create")
</p>
