@using mls.Controllers

@{
    ViewBag.Title = "WBHome";
}

<h2>Wastebuilt Home</h2>
<br/>
<p>
    <h4><u>WB Reports</u></h4>
    <br />
    <br />
    @Html.ActionLink("Open Order Status - Hyd", "ROWastebuilt1", "CustomerOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Open Order Status - Fab", "ROWastebuiltDip1", "CustomerOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("Qoh TX", "WBQoh", "CustomerOrders", null, null)
    <br />
    <br />
    @Html.ActionLink("In Transit", "WbTransit", "ShipIns", null, null)
    <br />
    <br />
    @Html.ActionLink("Receipt History", "WBReceipt", "ShipIns", null, null)
    <br />
    <br />
    @Html.ActionLink("WB Ship Out History", "WBShipOut", "ShipOuts", null, null)
    <br />
    <br />
    @*-> @Html.ActionLink("PFEP Cylinders", "Ops")
    <br />
    <br />*@
    <h4><u>WB PFEP Plans</u></h4>
    <br />
    @Html.ActionLink("WB PFEP Cyl", "WB1Pfep", "Pfeps", null, null)
    <br />
    <br />


</p>

