@model List<mls.ViewModels.QohViewModel>

@{
    ViewBag.Title = "WB Qoh";
}

<h2>WB Qoh</h2>

<p>
    @Html.ActionLink("Go Back", "NewHomeWb")
</p>


<table id="qoh" class="table table-bordered table-hover">
    
    <thead>
    <tr>
        <th>
            Part Number
        </th>
        <th>
            Qoh
        </th>
        <th>
            Ncr
        </th>
        <th>
            Notes
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qoh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NcrQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
            </tr>
        }
        </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#qoh").DataTable({
                'iDisplayLength': 100 });
            });

    </script>
}