
@{
    ViewBag.Title = "Eng";
}

<h2>Engineering Checklists</h2>

<p>
    @Html.ActionLink("Go Back", "IndexPrint") | @Html.ActionLink("Create New", "Create")
</p>

<br />

<h4><u>Daily Checklist</u></h4>
@Html.Action("_PrintChecklistDaily", "Checklists", new { Department = 1 })
<br />
<br />
<h4><u>Weekly Checklist</u></h4>
@Html.Action("_PrintChecklistWeekly", "Checklists", new { Department = 1 })
<br />
<br />
<h4><u>Bi-Weekly Checklist</u></h4>
@Html.Action("_PrintChecklistBiWeekly", "Checklists", new { Department = 1 })
<br />
<br />
<h4><u>Monthly Checklist</u></h4>
@Html.Action("_PrintChecklistMonthly", "Checklists", new { Department = 1 })
<br />
<br />
<h4><u>Quarterly Checklist</u></h4>
@Html.Action("_PrintChecklistQuarterly", "Checklists", new { Department = 1 })
<br />
<br />
<h4><u>Semi-Annual Checklist</u></h4>
@Html.Action("_PrintChecklistSemiAnnually", "Checklists", new { Department = 1 })
<br />
<br />
<h4><u>Annual Checklist</u></h4>
@Html.Action("_PrintChecklistAnnually", "Checklists", new { Department = 1 })
<br />
<br />