
@{
    ViewBag.Title = "IsoHome";
}

<h2>ISO Home</h2>

<p>
    @Html.ActionLink("Go Back", "QualityHome", "NCRs", null, null)
</p>
<br />
<p>

    <h4><u>Quality Applications</u></h4>
    <br />

    @Html.ActionLink("Master Document Log", "Index", "MasterDocs", null, null)
    <br />
    <br />
    @Html.ActionLink("ISO Process Flow Charts", "IsoProcesses", "NCRs", null, null)
    <br />
    <br />
    @Html.ActionLink("ISO Procedures (TEST)", "IsoProcesses", "NCRs", null, null)
    <br />
    <br />
    @Html.ActionLink("ISO Forms", "IsoForms", "NCRs", null, null)
    <br />
    <br />
