@model mls.Models.ContainerPoTracker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContainerPoTracker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date1stDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date1stDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open1stQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open1stQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContainerPoTrackerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
