@model mls.Models.Requisition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Requisition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequisitionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtaDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtaDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requestor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requestor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequisitionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
