@model IEnumerable<mls.Models.IncomingTopLevel>

@{
    ViewBag.Title = "MvcMasterDetails";
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
}

<h2>Incoming Inspection</h2>

<p>
    @Html.ActionLink("Go Back", "QualityHome", "NCRs", null, null)
</p>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/yeti/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<br /><br />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title pull-left" style="margin-left:10px;">
                <strong>Incoming Inspection</strong>
            </h2>
            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewOrder()">New Inspection</button>
        </div>
    </div>

    @*Receive All Database Data From Controller And Display Those Data In Client Side*@

    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <div class="panel-body">
                <table class="table table-striped table-responsive">
                    <tbody>
                        <tr>
                            <td>Incoming Vessel No : @item.IncomingVesselNo </td>
                            <td>Inspection Date : @item.InspectionDateTime </td>
                            <td>Notes : @item.Notes</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Part Number</td>
                                            <td>Qty Received</td>
                                            <td>Qty Inspected</td>
                                            <td>Qty Good</td>
                                            <td>Qty Bad</td>
                                            <td>Inspector Name</td>
                                            <td>Notes</td>
                                        </tr>
                                        @{
                                            var totalInspected = 0;
                                        }
                                        @foreach (var order in item.IncomingDetails)
                                        {
                                            <tr>
                                                <td>@order.PartNumber</td>
                                                <td>@order.QtyReceived</td>
                                                <td>@order.QtyInspected</td>
                                                <td>@order.QtyGood</td>
                                                <td>@order.QtyBad</td>
                                                <td>@order.InspectorName</td>
                                                <td>@order.Notes</td>
                                            </tr>
                                            totalInspected = totalInspected + @Convert.ToInt32(order.QtyInspected);
                                        }
                                    </tbody>
                                </table>
                                <span class="pull-right" style="margin-right:100px;"><strong>Total Inspected :  </strong> @totalInspected</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            }
        }
        else
        {
            <div class="panel-body">
                <h3 style="color:red;">Empty!</h3>
            </div>

        }
</div>

@*Design Bootdtrap Modal With Order Form*@

<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Add New Incoming Inspection</h4>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Customer Details*@
                    <h5 style="color:#ff6347">Incoming Inspection</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="IncomingTopLevelId" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Incoming Vessel No
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="vesselno" name="vesselno" placeholder="Vessel No" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Inspection Date
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="date" name="date" placeholder="Inspection Date" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Notes
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="notes1" name="notes1" placeholder="Notes" class="form-control" />
                            </div>
                        </div>
                    </div>

                    @*Order Details*@
                    <h5 style="margin-top:10px;color:#ff6347">Incoming Details</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="IncomingTopLevelId" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Part Number
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="partNumber" name="partNumber" placeholder="Part Number" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Inspector Name
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="name" name="name" placeholder="Name" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Notes
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="notes" name="notes" placeholder="Notes" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Quantity Received
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="qtyReceived" name="qtyReceived" placeholder="Qty Received" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Quantity Inspected
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="qtyInspected" name="qtyInspected" placeholder="Qty Inspected" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Quantity Good
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="qtyGood" name="qtyGood" placeholder="Qty Good" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Quantity Bad
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="qtyBad" name="qtyBad" placeholder="Qty Bad" class="form-control" />
                            </div>
                            <div class="col-md-2 col-lg-offset-8">
                                <a id="addToList" class="btn btn-primary">Add To List</a>
                            </div>
                        </div>

                        <table id="detailsTable" class="table">
                            <thead>
                                <tr>
                                    <th style="width:15%">Part Number</th>
                                    <th style="width:15%">Inspector Name</th>
                                    <th style="width:20%">Notes</th>
                                    <th style="width:10%">Qty Received</th>
                                    <th style="width:10%">Qty Inspected</th>
                                    <th style="width:10%">Qty Good</th>
                                    <th style="width:10%">Qty Bad</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveOrder" type="submit" class="btn btn-danger">Save Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#partNumber").val()) == "" || $.trim($("#name").val()) == "" || $.trim($("#notes").val()) == "" || $.trim($("#qtyReceived").val()) == "" || $.trim($("#qtyInspected").val()) == "" || $.trim($("#qtyGood").val()) == "" || $.trim($("#qtyBad").val()) == "") return;

            var partNumber = $("#partNumber").val(),
                name = $("#name").val(),
                notes = $("#notes").val(),
                qtyReceived = $("#qtyReceived").val(),
                qtyInspected = $("#qtyInspected").val(),
                qtyGood = $("#qtyGood").val(),
                qtyBad = $("#qtyBad").val(),
                detailsTableBody = $("#detailsTable tbody");

            var productItem = '<tr><td>' + partNumber + '</td><td>' + name + '</td><td>' + notes + '</td><td>' + parseInt(qtyReceived) + '</td><td>' + parseInt(qtyInspected) + '</td><td>' + parseInt(qtyGood) + '</td><td>' + parseInt(qtyBad) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#partNumber").val('');
            $("#name").val('');
            $("#notes").val('');
            $("#qtyReceived").val('');
            $("#qtyInspected").val('');
            $("#qtyGood").val('');
            $("#qtyBad").val('');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/IncomingTopLevels/SaveOrder",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    partNumber: $(this).find('td:eq(0)').html(),
                    name: $(this).find('td:eq(1)').html(),
                    notes: $(this).find('td:eq(2)').html(),
                    qtyReceived: $(this).find('td:eq(3)').html(),
                    qtyInspected: $(this).find('td:eq(4)').html(),
                    qtyGood: $(this).find('td:eq(5)').html(),
                    qtyBad: $(this).find('td:eq(6)').html()
                });
            });

            var data = JSON.stringify({
                incomingVesselNo: $("#vesselno").val(),
                date: $("#date").val(),
                notes: $("#notes1").val(),
                incomingDetail: orderArr
            });

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
}