@model mls.Models.ScrumDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScrumDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScrumUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScrumUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatePerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatePerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorDueDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorDueDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewDueDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewDueDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
