@model IEnumerable<mls.Models.ScrumDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Scrum Details</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("ScrumHome", "ScrumHome", "Scrums", null, null) | @Html.ActionLink("Production Meeting", "ProductionMeeting", "Scrums", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScrumUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorDueDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewDueDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScrumUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatePerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorDueDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewDueDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScrumDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScrumDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScrumDetailId })
        </td>
    </tr>
}

</table>
