
@{
    ViewBag.Title = "Operations Home";
}

<h2>Ops Home</h2>

<p>
    @Html.ActionLink("Go Back", "Index", "CustomerOrders", null, null)
</p>

<br />

<p>

    <h4><u>Operational Apps</u></h4>
    <br />

    @Html.ActionLink("Production Plan", "ProductionPlan")
    <br />
    <br />
    @Html.ActionLink("Production Plan Update", "ProductionPlan1")
    <br />
    <br />
    @Html.ActionLink("Production Detail View", "Index", "WoDetails", null, null)
    <br />
    <br />
     @Html.ActionLink("Production Actions", "ProductionMeeting", "Scrums", null, null)
    <br />
    <br />
    @Html.ActionLink("Work Orders", "WODivision")
    <br />
    <br />
    @Html.ActionLink("WO Details", "WoDetails", "WoDetails", null, null)
    <br />
    <br />
    @Html.ActionLink("Build Ability", "Index", "BomLevel1", null, null)
    <br />
    <br />
    @Html.ActionLink("Build History", "Index", "BuildHistories", null, null)
    <br />
    <br />
    @Html.ActionLink("Stock Out Report", "Uh", "DownReports", null, null)
    <br />
    <br />
    @*-> @Html.ActionLink("Supply Chain", "SC")
    <br />
    <br />
    -> @Html.ActionLink("Logistics", "Index", "ShipIns", null, null)
    <br />
    <br />
    -> @Html.ActionLink("Quality", "QualityHome", "NCRs", null, null)
    <br />
    <br />*@

    <h4><u>Operational Inputs</u></h4>
    <br />
    @Html.ActionLink("Create New Work Order", "Create")
    <br />
    <br />
    @Html.ActionLink("Create New Stock Out", "Create", "DownReports", null, null)
    <br />
    <br />

</p>
