@model List<mls.Models.WorkOrder>

@{
    ViewBag.Title = "Schedule";

}
<h2>Production Schedule - All</h2>

<p>
    @Html.ActionLink("Go Back", "Index", "WorkOrders", null, null) | @Html.ActionLink("ScheduleAll", "ScheduleAll", "WorkOrders", null, null) | @Html.ActionLink("Bayne", "Schedule2", "WorkOrders", null, null) | @Html.ActionLink("MinusBayne", "ScheduleMinusBayne", "WorkOrders", null, null) | @Html.ActionLink("Extreme", "ScheduleExtreme", "WorkOrders", null, null) | @Html.ActionLink("Chassis", "ScheduleChassis", "WorkOrders", null, null) | @Html.ActionLink("CylRework", "CylRework", "WorkOrders", null, null) | @Html.ActionLink("Complete-SageUpdate","ClosedNeedSageUpdate", "WorkOrders", null, null) | @Html.ActionLink("Closed", "ScheduleClosed", "WorkOrders", null, null) | @Html.ActionLink("Canceled", "ScheduleCanceled", "WorkOrders", null, null) | @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin") || User.IsInRole("OpsPower"))
        {@Html.ActionLink("Create New", "Create")}
    }
</p>
<br />
<br />
<br />
<div class="nopadding">

    <br />
    <table id="schedule" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    WoNo
                </th>
                <th>
                    WoStatus
                </th>
                <th>
                    MlsSo
                </th>
                <th>
                    CustomerPn
                </th>
                <th>
                    Qty
                </th>
                <th>
                    WoDetail
                </th>
                <th>
                    CompletionDate
                </th>
                <th></th>
                <th>
                    Notes
                </th>
                <th>
                    Parts Needed
                </th>
                <th>
                    StockOutNotes
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin") || User.IsInRole("OpsPower"))
                            {@Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderId })}
                        }|
                        @Html.ActionLink("Details", "Details", new { id = item.WorkOrderId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkOrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WoOrderStatusId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MlsSo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerPn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WoNotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipDate)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartsNeeded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartStockOutNotes)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />

@section scripts
{
    <script>
            $(document).ready(function() {
                $("#schedule").DataTable({
                    'iDisplayLength': 100 });
                });

    </script>

    <script>
    $(document).ready(function() {

    $('td').each(function() {

        var cellvalue = $.trim($(this).text());
        if ( cellvalue == "feng") {
            $(this).css('backgroundColor', 'red');
        }
        else if ( cellvalue == "hao" ) {
            $(this).css('backgroundColor', 'green');
        }
    });

    });
    </script>
}