@model mls.Models.InvTransferLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvTransferLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransferDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvLocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvLocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvTransferLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
