
@{
    ViewBag.Title = "Status";
}

<h2>Hunter Status</h2>

<p>
    @Html.ActionLink("Go Back", "Sales", "ShipPlans", null, null) | @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Slot Schedule", "HunterSlotted") | @Html.ActionLink("Open", "HunterOpen") | @Html.ActionLink("Shipped Orders", "HunterShipped") | @Html.ActionLink("Canceled Orders", "HunterCanceled")
</p>

<br />

<h4><u>SO Issues Needing Review</u></h4>
@Html.Action("_OrderIssuesCustomer", "ShipPlans", new { status = 2, customer = 4 })
<br />
<br />
<h4><u>SO To Cancel</u></h4>
@Html.Action("_OrderIssuesCustomer", "ShipPlans", new { status = 8, customer = 4 })