
@{
    ViewBag.Title = "HydSales";
}

<h2>Hyd Sales</h2>
<p>
    @Html.ActionLink("Go Back", "Sales")
</p>
<br />

    <h4><u>Hyd Orders by Customer</u></h4>
    <br />
    @Html.ActionLink("Esg", "EsgStatus")
    <br />
    <br />
    @Html.ActionLink("Columbus Hyd", "ChStatus")
    <br />
    <br />
    @Html.ActionLink("Hercules", "HerculesStatus")
    <br />
    <br />
    @Html.ActionLink("Hunter", "HunterStatus")
    <br />
    <br />
    @Html.ActionLink("Nov", "NovStatus")
    <br />
    <br />
    @Html.ActionLink("Simonson", "SimonsonStatus")
    <br />
    <br />
    @Html.ActionLink("Texas Hyd", "ThiStatus")
    <br />
    <br />
    @Html.ActionLink("Wastebuilt", "WbStatus")
    <br />
    <br />
    @Html.ActionLink("VSG", "VsgStatus")
    <br />
    <br />

