@model mls.Models.ShipOut2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShipOut2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerDivisionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDivisionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreightTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreightTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPaymentMethodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPaymentMethodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackingInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipTerms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipTerms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETADate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETADate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipOut2Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
