@model mls.Models.ProcessMatrix

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProcessMatrix</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProcessStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecuredStoreLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecuredStoreLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtectionMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtectionMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetentionPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetentionPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlledBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlledBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectronicDistribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectronicDistribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistributionMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributionMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordStorageLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordStorageLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordDispostionMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordDispostionMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PicUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProcessMatrixId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
