@using mls.Controllers


@{
    ViewBag.Title = "Logistics";
}

<h2>Logistics</h2>
<p>
@Html.ActionLink("Go Back", "Index", "CustomerOrders", null, null)
</p>
<br/>
<p>
    <h4><u>USA</u></h4>
    <br/>
    @Html.ActionLink("In Transit", "Transit")
    <br />
    <br />
    @Html.ActionLink("Exp Freight", "Index", "ExpeditedFreights", null, null)
    <br />
    <br />
    @Html.ActionLink("Receipt History", "Receipt")
    <br />
    <br />
    @Html.ActionLink("Ship History - Last 90 Days", "ShipOut90", "ShipOuts", null, null)
    <br />
    <br />
    @Html.ActionLink("Ship History - All", "ShipOut", "ShipOuts", null, null)
    <br />
    <br />
    @Html.ActionLink("QOH and Location Report", "Locations", "MasterPartLists", null, null)
    <br />
    <br />
    @Html.ActionLink("Enter Shipment from TX", "Create", "ShipOuts", null, null)
    <br />
    <br/>

    <h4><u>CHINA</u></h4>
    <br/>
    @Html.ActionLink("Enter Container Shipment", "Create")
    <br />
    <br />

</p>