@model mls.Models.ShipIn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShipIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerDivisionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDivisionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerUh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerUh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pallet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pallet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UhPn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UhPn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etadate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etadate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hubeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hubeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiptdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiptdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receivedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receivedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qtyconfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtyconfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipInStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipInStatusId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "WBTransit")
</p>

