@model IEnumerable<mls.Models.PoPlan>

@{
    ViewBag.Title = "Supplier Pos";
}

<h2>Supplier Pos</h2>

<p>
    <button id="btn" class="btn btn-success">Export to Excel</button><br /><br />
    @Html.ActionLink("Go Back", "Index", "Pfeps", null, null) | @Html.ActionLink("Hualin", "OpenPoHualin") | @Html.ActionLink("Lishen", "OpenPoLishen") | @Html.ActionLink("Coremark", "OpenPoCoremark") | @Html.ActionLink("Metal Supermarkets", "OpenPoSuper") | @Html.ActionLink("H&D", "OpenPoHD") | @Html.ActionLink("Extreme", "OpenPoExtreme") | @Html.ActionLink("Vonberg", "OpenPoVonberg") | @Html.ActionLink("Texas Hyd", "OpenPoThi") | @Html.ActionLink("Scot", "OpenPoScot") 
    
</p>
<table id="poplan" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromiseDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainerUh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PoPlanId })|
                    @Html.ActionLink("Details", "Details", new { id = item.PoPlanId })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.PoPlanId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromiseDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContainerUh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#poplan").DataTable({
                'iDisplayLength': 100 });
        });

    </script>

    <script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script type="text/javascript">
                    $('#btn').click(function(){
                        $('.table').table2excel({
                            name: "download",
                            filename: "download",
                            fileext: ".xlsx"
                        });
                    });
    </script>
}