
@{
    ViewBag.Title = "Supply Chain Home";
}

<h2>Supply Chain Home</h2>

<br />

<p>
    @Html.ActionLink("Go Back", "Index", "CustomerOrders", null, null)
</p>

<p>

    <h4><u>Supply Chain Apps</u></h4>
    <br />

    @Html.ActionLink("Pfep Plans", "Pfep")
    <br />
    <br />
    @Html.ActionLink("Supplier Info", "Index", "Suppliers", null, null)
    <br />
    <br />
    @Html.ActionLink("Purchase Orders", "PoHome", "PurchaseOrders", null, null)
    <br />
    <br />
    @*-> @Html.ActionLink("Quality", "QualityHome", "NCRs", null, null)
        <br />
        <br />*@

</p>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin") || User.IsInRole("InvPower"))
        {
            <p>
                <h4><u>Supply Chain Inputs</u></h4>
                <br />
                @Html.ActionLink("Manage Pfep Plans", "ManagePfep")
                <br />
                <br />
                @Html.ActionLink("Master Part List - All", "Index", "MasterPartLists", null, null)
                <br />
                <br />
                @Html.ActionLink("Master Part List - UH", "UHMasterPartList", "MasterPartLists", null, null)
                <br />
                <br />
                @Html.ActionLink("Master Part List - DIP", "DipMasterPartList", "MasterPartLists", null, null)
                <br />
                <br />
                @Html.ActionLink("Master Part List - DOP", "DopMasterPartList", "MasterPartLists", null, null)
                <br />
                <br />
                @Html.ActionLink("Master Part List - CL", "CLMasterPartList", "MasterPartLists", null, null)
                <br />
                <br />
                @Html.ActionLink("Master Part List - DTT", "DttMasterPartList", "MasterPartLists", null, null)
                <br />
                <br />
            </p>
        }
    }

@*
<p>
    <h4><u>Supply Chain Inputs</u></h4>
    <br />
    @Html.ActionLink("Manage Pfep Plans", "ManagePfep")
    <br />
    <br />
    @Html.ActionLink("Master Part List - All", "Index", "MasterPartLists", null, null)
    <br />
    <br />
    @Html.ActionLink("Master Part List - UH", "UHMasterPartList", "MasterPartLists", null, null)
    <br />
    <br />
    @Html.ActionLink("Master Part List - DIP", "DipMasterPartList", "MasterPartLists", null, null)
    <br />
    <br />
    @Html.ActionLink("Master Part List - DOP", "DopMasterPartList", "MasterPartLists", null, null)
    <br />
    <br />
    @Html.ActionLink("Master Part List - CL", "CLMasterPartList", "MasterPartLists", null, null)
    <br />
    <br />
    @Html.ActionLink("Master Part List - DTT", "DttMasterPartList", "MasterPartLists", null, null)
    <br />
    <br />
</p>
*@
