
@{
    ViewBag.Title = "PfepJbtOrlando";
}

<h2>PfepJbtOrlando</h2>

<p>
    
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("JbtOrlando"))
        {
            @Html.ActionLink("Go Back", "JBT_OrlandoHome", "CustomerOrders", null, null)
        }
        else 
        {
            @Html.ActionLink("Go Back", "Index")
        }
      
    }
</p>

<br />

<h4><u>Stock Out</u></h4>
@Html.Action("_StockOut", "Pfeps", new { parttype = 4, customer = 19, division = 11 })
<br />
<br />
<h4><u>Low Stock</u></h4>
@Html.Action("_LowStock", "Pfeps", new { parttype = 4, customer = 19, division = 11 })
<br />
<br />
<h4><u>Need to Order / In Transit</u></h4>
@Html.Action("_NeedToOrder", "Pfeps", new { parttype = 4, customer = 19, division = 11 })
<br />
<br />
<h4><u>All Parts</u></h4>
@Html.Action("_AllParts", "Pfeps", new { parttype = 4, customer = 19, division = 11 })
<br />
<br />
<h4><u>In Transit</u></h4>
@Html.Action("_Transit", "ShipIns", new { division = 11 })
<br />
<br />