
@{
    ViewBag.Title = "Pfep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pfep</h2>

<p>
    @Html.ActionLink("Go Back", "Index")
</p>

<br />
<p>

    <h4><u>Lifters / Fab</u></h4>
    <br />

    @Html.ActionLink("Bayne Act Parts", "Bayne_ActParts")
    <br />
    <br />
    @Html.ActionLink("Bayne Lift Parts", "Bayne_LiftParts")
    <br />
    <br />
    @Html.ActionLink("Bayne Actuator", "Bayne_Actuator")
    <br />
    <br />
    @Html.ActionLink("Bayne Cylinder", "Bayne_Cylinder")
    <br />
    <br />
    @Html.ActionLink("WB Lift Parts", "WB_LiftParts")
    <br />
    <br />
    @Html.ActionLink("WB Act Parts (TEST)", "Bayne_Cylinder")
    <br />
    <br />
    @Html.ActionLink("WB Actuator (TEST)", "Bayne_Actuator")
    <br />
    <br />
    @Html.ActionLink("WB Cylinder (TEST)", "Bayne_Cylinder")
    <br />
    <br />
    @Html.ActionLink("Wastebuilt Fab", "PfepWbFab")
    <br />
    <br />

    <h4><u>Cylinders</u></h4>
    <br />

    @Html.ActionLink("Heil Cyl", "PfepHeil")
    <br />
    <br />
    @Html.ActionLink("Marathon Cyl", "PfepMarathon")
    <br />
    <br />
    @Html.ActionLink("Wastebuilt Cyl", "PfepWb")
    <br />
    <br />
    @Html.ActionLink("VSG Cyl", "PfepVsg")
    <br />
    <br />
    @Html.ActionLink("Hunter Cyl", "PfepHunter")
    <br />
    <br />
    
    <h4><u>Drop Tail Trailer</u></h4>
    <br />
    
    @Html.ActionLink("DTT Trailers", "PfepDtt")
    <br />
    <br />
    @Html.ActionLink("DTT Parts", "PfepDttParts")
    <br />
    <br />
    
    <h4><u>Chassis Liner</u></h4>
    <br />
    
    @Html.ActionLink("Chassis Liner Racks (TEST)", "Bayne_ActParts")
    <br />
    <br />
    @Html.ActionLink("Chassis Liner Parts (TEST)", "Bayne_ActParts")
    <br />
    <br />

</p>

