
@{
    ViewBag.Title = "WB_LiftParts";
}

<h2>WB_LiftParts</h2>

<p>
    @Html.ActionLink("Go Back", "Index")
</p>

<br />

<h4><u>Stock Out</u></h4>
@Html.Action("_StockOut", "Pfeps", new { parttype = 22, customer = 2, division = 6 })
<br />
<br />
<h4><u>Low Stock</u></h4>
@Html.Action("_LowStock", "Pfeps", new { parttype = 22, customer = 2, division = 6 })
<br />
<br />
<h4><u>Need to Order / In Transit</u></h4>
@Html.Action("_NeedToOrder", "Pfeps", new { parttype = 22, customer = 2, division = 6 })
<br />
<br />
<h4><u>All Parts</u></h4>
@Html.Action("_AllParts", "Pfeps", new { parttype = 22, customer = 2, division = 6 })
<br />
<br />
@Html.Action("_Transit", "ShipIns", new { division = 6 })
<br />
<br />
