@model IEnumerable<mls.Models.ExpFreightDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
     @Html.ActionLink("Go Back", "ExpFreightHome", "ExpeditedFreights", null, null) | @Html.ActionLink("Create New", "Create")
</p>
<table id="expedite" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ExpeditedFreightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpediteMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chargeback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>

    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExpFreightDetailId })|
                    @Html.ActionLink("Details", "Details", new { id = item.ExpFreightDetailId })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExpFreightDetailId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpeditedFreightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpediteMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chargeback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

            </tr>
        }
</tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#expedite").DataTable({
                'iDisplayLength': 100 });
            });

    </script>
}